/Unity/ClientForBackendGame/.vsconfig
/Unity/ClientForBackendGame/ClientForBackendGame.sln
/Unity/ClientForBackendGame/Library
/Unity/ClientForBackendGame/Logs
/Unity/ClientForBackendGame/UserSettings
